<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BaseCurrencyAPI" value="https://api.exchangerate-api.com/v4/latest/{0}"/>
		<add key="DefaultBaseCurrency" value ="AED"/>
		<add key="CurrencyFullFormAPI" value="https://openexchangerates.org/api/currencies.json"/>
		<add key="NewsFeedAPI" value="https://saurav.tech/NewsAPI/top-headlines/category/{0}/{1}.json"/>
		<add key="NewsCategory" value="Business,Entertainment,General,Health,Science,Sports,Technology"/>
		<add key="CountryCode" value='{"India": "in", "USA": "us", "France": "fr", "Australia": "au", "Russia": "ru", "United Kingdom": "gb"}'/>
		<add key="DefaultNewsCategory" value="Sports"/>
		<add key="DefaultCountryToFetchNews" value="India" />
	</appSettings>

</configuration>