@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: lavenderblush">
    <div class="text-center">
        <h4>
            <i>Welcome To Our MultiPurpose WebApp which provides applications like Live Currency Converter and News Feed for it's user which is also extensible if needed</i>
        </h4>
    </div>
</body>
